/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

:root {
    --fundo-escuro: #151616;
    --fundo-medio: #545454;
    --fundo-claro: #777777;
    --texto-claro: #f3f3f3;
}

.root{
    background-color: #cfceec;
}

.icons {
    width: 30px;
    height: 30px;
}

.logo {
    width: 40px;
    height: 40px;
}

.card {
    width: 300px;
    margin: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}
.corpo-da-pagina {
    margin: 10vh 0 10vh 0;
    
}

.col{
    margin: 20px 0 20px 0;
}
