/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

:root {
    --fundo-escuro: #151616;
    --fundo-medio: #545454;
    --fundo-claro: #777777;
    --texto-claro: #f3f3f3;
}

.icons {
    width: 30px;
    height: 30px;
}

.logo {
    width: 40px;
    height: 40px;
}

.card {
    width: 18rem;
}
.corpo-da-pagina {
    margin: 12vh 0 12vh 0;
}

.col{
    margin: 20px 0 20px 0;
}
